/*
  #1f2936
  #8fda00
  #FFCD00
*/


body,
html {
  /* background-image: url('https://asistenciagrados.cunapp.dev/images/certificados/fondo-certificado-old.png') !important; */
  background-image: url('http://localhost/asistencia-grados/public/images/certificados/fondo-certificado-old.png') !important;
  background-size: 100% auto !important;
  margin: 0cm 0cm 0cm 0cm;
  background-repeat: no-repeat !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.nombre {
  margin-top: 75% !important;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 2rem;
}

.subrayado {
  border-bottom: 3.1px solid #CEA33D;
}

.t2 {
  font-size: 18px !important;
}

.div-img {
  padding: 1%;
  z-index: 2 !important;
}

main {
  z-index: 3 !important;
  margin-top: 0.5cm !important;
}

/* header {
  position: fixed;
  top: 0cm;
  left: 0cm;
  right: 0cm;
  height: 2cm;
  background-color: rgba(31, 41, 54, 1);
  color: #000;
  text-align: center;
  line-height: 30px;
  flex-wrap: wrap;
} */

/* .t1 {
  font-size: 24px;
  font-family: 'italic';

} */

/* .t2 {
  font-size: 20px;
}

.t3 {
  font-size: 18px;
} */

/* .green-right {
  color: #8fda00;
  background-color: #8fda00 !important;
  -moz-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -webkit-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -o-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -ms-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  transform: scale(2.5) rotate(42deg) translate(50px, -80px) skew(-21deg, -20deg);
} */

/* .yellow-right {
  z-index: -1 !important;
  color: #FFCD00;
  background-color: #FFCD00 !important;
  -moz-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -webkit-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -o-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -ms-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  transform: scale(2.5) rotate(42deg) translate(50px, -70px) skew(-21deg, -20deg);
}
*/
