@media (min-width: 10px) and (max-width: 640px) {
  body, html {
    background-color: #8fda00 !important;
    width: 100% !important;
    height: 100% !important;
    background-image: radial-gradient(ellipse farthest-corner at 45px 30px, #fff 35%, rgba(255, 255, 255, 1) 10%, #8fda00 50%) !important;
  }

  .content-general {
    width: 100%;
  }

  .container {
    min-width: 100% !important;
  }

  .card {
    min-width: 100%;

  }

  .table-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

  .table {
    border: 0px;
  }

  .table caption {
    font-size: 22px;
  }

  .table thead {
    display: none;
  }

  .table tr {
    margin-bottom: 8px;
    /* border-bottom: 4px solid #ddd; */
    display: block;
  }

  .table td {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    text-align: right;
  }

  .table td:last-child {
    border-bottom: 0px;
  }

  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    /* text-transform: uppercase; */
    float: left;
  }

  .btn-group {
    width: 100%;
    justify-content: center;
  }
}
